.n-footer{
  background-color: #DBDBDB;
  &.l-footer{
    @media screen and (min-width: 768px){
      margin-top: 120px;
    }
  }
  &.l-footer {
    z-index: 5;
    position: relative;
  }
  &-inner{
    padding-top: 40px;
    padding-bottom: 40px;
    &.l-inner {
      max-width: 1096px;
      margin-left: auto;
      margin-right: auto;
    }
    &-links{
      a{
        display: block;
        margin: 0 16px;
        font-size: .85714rem;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
      }
    }
    &_logo{
      margin: 32px auto;
      max-width: 226px;
      font-family: "Rubik", "���S�V�b�N��", YuGothic, "���S�V�b�N Medium", "Yu Gothic Medium", "���S�V�b�N", "Yu Gothic", "���C���I", sans-serif;
      font-weight: bold;
      font-size: 1.85714rem;
      text-align: center;
      letter-spacing: .1em;
      img{
        vertical-align: middle;
        object-fit: cover;
        width: 100%;
      }
    }
    &_sns{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
      a{
        width: 32px;
        margin: 0 4px;
        border-radius: 16px;
        height: 32px;
        background: #fff;
        border-radius: 16px;
        overflow: hidden;
              img{
                width: 16px;
                height: auto;
              }
      }
    }
    &_copyright{
      padding-top: 50px;
      text-align: center;
      font-size: .71429rem;
    }
  }
}